.generateImageHeading {
  letter-spacing: 0.2rem;
  text-align: center;
  background-image: linear-gradient(to right, #b3f5f5, #732fa3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
