.generateImageHeading {
  text-align: center;
  background-image: linear-gradient(to right, #d8b5ff, #1eae98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Founders Grotesk, Arial Black, sans-serif;
}
