@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background-color: #121212;
  color: #fff;
  font-size: 14px;
}

.App {
  height: 100vh;
  display: grid;
  place-items: center;
}

.mainButton {
  margin-top: 30px;
  height: 32px;
  font-size: 14px;
  width: 110%;
  border: 0;
  border-radius: 4px;
  background-color: #732fa3;
  color: white;
  font-weight: 600;
}

.mainButton:hover {
  background-color: #5e1d8c;
  transition: background-color 0.2s;
}

.mainButton:active {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.image {
  width: 70%;
}

@media (min-width: 640px) {
  .image {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .image {
    width: 20%;
  }

  body {
    font-size: 24px;
  }

  .mainButton {
    height: 50px;
    font-size: 24px;
  }
}
