@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Founders Grotesk, Arial Black, sans-serif;
  background-color: #121212;
  color: #fff;
  font-size: 20px;
}

.App {
  height: 100vh;
  display: grid;
  place-items: center;
}

.sizingButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.sizingButton {
  font-family: Founders Grotesk, Arial Black, sans-serif;
  color: white;
  background-color: #444654;
  padding: 10px;
  font-size: 14px;
  margin: 4px 2px;
  border: 2;
  border-radius: 6px;
  border-color: #444654;
}

.sizingButton:focus {
  border: 2px solid white;
  background-color: #1eae98;
  transition: background-color 0.3s;
}

.sizingButton:hover {
  border: 2px solid white;
  transition: border 0.3s;
}

.generateButton {
  font-family: Founders Grotesk, Arial Black, sans-serif;
  height: 32px;
  font-size: 14px;
  width: 100%;
  border: 2;
  border-radius: 6px;
  border-color: #444654;
  background-color: #1eae98;
  color: white;
  font-weight: 600;
}

.generateButton:hover {
  border: 2px solid white;
  transition: border 0.3s;
}

.generateButton:active {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.generateButton:disabled {
  opacity: 0.5;
  transition: opacity 0.2s;
  border: 0;
}

.image {
  width: 70%;
}

.errorMessage {
  text-align: center;
}

@media (min-width: 640px) {
  .image {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .image {
    width: 20%;
  }

  body {
    font-size: 33px;
  }

  .generateButton {
    height: 50px;
    font-size: 24px;
  }

  .sizingButton {
    font-size: 20px;
  }
}
